<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Offers For Rent</title>
</head>
<body>
<div>
    <table border="1">
        <thead>
        <tr>
            <th>Brand</th>
            <th>Model</th>
            <th>VIN</th>
            <th>Location</th>
            <th>Lessee</th>
            <th>Availability</th>
            <th>Enter username</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="offer : ${offerstorent}" th:object="${offer}">
            <form th:action="@{/offerstorent}" method="post">
                <input type="hidden" th:value="${offer.id}" name="id"/>
                <td th:text="${offer.getBrand()}"></td>
                <td th:text="${offer.getModel()}"></td>
                <td th:text="${offer.getVin()}"></td>
                <td th:text="${offer.getLocation()}"></td>
                <td th:text="${offer.getLessee()}"></td>
                <td th:text="${offer.isAvailable()}"></td>
                <td>
                    <input type="text" placeholder="Lessee" name="lessee" required>
                </td>
                <td>
                    <button type="submit" th:disabled="${!offer.available}">Rent Car</button>
                </td>
            </form>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>